<p>Nasexplorer Consult &copy; 2023   - Samuel Jonathan</p>
<div id="foot_link">
    <p><a href="#">Site Plan</a>|  </p>
    <p><a href="#">Contact Us</a></p>
</div>
<div class="social">
    <a href="https://facebook.com" target="_blank">
        <img src="images/facebook.png" alt="fb icon">
    </a>
    <a href="https://twitter.com" target="_blank">
        <img src="images/twitter.png" alt="twitter icon">
    </a>
    <a href="https://instagram.com" target="_blank">
        <img src="images/instagram.png" alt="instagram icon">
    </a>
</div>